---
import "@/styles/global.css";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogLayout from "@/layouts/blogLayout.astro";
import Feed from "@/components/Feed.astro";
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    // return posts.map((post: any) => ({
    //     params: {

    //         id: post.id,
    //     },
    //     props: { post },
    // }));
    let tagsCounter: Record<string, number> = {};
    for (const post of posts) {
        for (const tag of post.data.tags) {
            tagsCounter[tag] = (tagsCounter[tag] || 0) + 1;
        }
    }
    const tags = Object.keys(tagsCounter).sort(
        (a: string, b: string) => tagsCounter[b] - tagsCounter[a],
    );
    return tags.map((tag: string) => ({
        params: {
            id: tag,
        },
        props: { tag },
    }));
}

const { tag } = Astro.props;

const posts = await getCollection("blog");
const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
---

<BlogLayout title="HSN's Blog | Tag:" +tag>
    <h1
        class="text-4xl font-extrabold tracking-tight text-balance text-center mb-8"
    >
        Posts
    </h1>
    <Feed posts={filteredPosts} />
</BlogLayout>
