---
import "../styles/global.css";
// Component Imports
import BlogLayout from "@/layouts/blogLayout.astro";
import Feed from "@/components/Feed.astro";

import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BlogLayout title="HSN's Blog">
    <div class="max-w-2xl mx-auto px-4 py-8">
        <h1
            class="text-4xl font-extrabold tracking-tight text-balance text-center mb-8"
        >
            Posts
        </h1>
        <Feed posts={posts} />
    </div>
</BlogLayout>
